<iframe width="1700" height="1000" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"

src="https://www.openstreetmap.org/export/embed.html?bbox=72.82177828252317%2C8.018594138053844%2C79.88598726689817%2C11.794925167734897&amp;layer=mapnik&amp;marker=9.912195848012386%2C76.35388277471066" 
style="border: 1px solid black"></iframe><br/><small>
<!-- <a href="https://www.openstreetmap.org/?mlat=9.912&amp;mlon=76.354#map=8/9.912/76.354">View Larger Map</a></small> -->

<!-- map.on('click', function(e) {
    $('#mymodal').modal('show');
  }); -->
<!-- for 
  https://www.openstreetmap.org/?mlat=9.909&mlon=76.630#map=8/9.909/76.630
   https://www.openstreetmap.org/#map=8/9.909/76.630 -->
  <!-- https://www.openstreetmap.org/?mlat={}&mlon={}0#map=8/{mlat}/{mlon} --> 
  <!-- #             latlon={
    #                         'mlat':forcast_data['city']['coord']['lat'],
    #                         'mlon':forcast_data['city']['coord']['lon'],
    #                         }
    #             mlatmlon.append(latlon)
    # print(mlatmlon)
    # return jsonify(mlatmlon)
    # map='https://www.openstreetmap.org/?mlat={}&mlon={}0#map=8/{mlat}/{mlon}'  -->